<ng-container *ngLet="gameOver$ | async as gameOver">
  <div class="matrix">
    <div *ngFor="let line of matrix?.values" class="line">
      <button
        mat-stroked-button
        class="cell"
        *ngFor="let cell of line"
        [ngClass]="cell.style"
        (click)="
          !cell?.value && matrix.movementTrigger$.next({ id: cell.id, player: player1 });
          !cell?.value && opponentTurn$.next(true);
        "
        [disabled]="gameOver || (opponentTurn$ | async)"
      >
        {{ cell?.value }}
      </button>
    </div>
  </div>
  <div *ngIf="gameOver" class="game-over">
    <span
      *ngLet="gameOverInfos[gameOver - 1] as info"
      [style.color]="info?.color"
      >{{ info?.sentence }}</span
    >
    <button
      mat-raised-button
      color="primary"
      (click)="matrix.resetTrigger$.next()"
    >
      Play again
    </button>
  </div>
</ng-container>
